<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		
		
		<title>Hogwarts Sorting Hat</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/styles.css" rel="stylesheet">
		
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
		<script src="js/hpApp.js"></script>
	
	</head>
	
	<body ng-app="hpApp">
		
		<div class="container" ng-controller="SortingHatController">
			<div class="starter-template">
				<h1>Which Hogwarts House do you belong to?</h1>
				<p class="lead">Find out with this new magitechnological test!</p>
			</div>
            <ul>
                <li ng-repeat="x in questions">
                    {{x.query}}
                    <ul>
                        <li ng-repeat="y in options">
                            {{y.option}}
                        </li>
                    </ul>
                </li>
            </ul>
		</div>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/ie10-viewport-bug-workaround.js"></script>
	
	</body>

</html>
